.cover {
  --_drag-up: calc(1em + (var(--landmark-region-space) * 2));
  min-height: calc(100svh - var(--_drag-up));
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.cover main,
.spotlight {
  margin-block: auto;
}

.cover > :first-child:not(main, .spotlight),
.cover > :last-child:not(main, .spotlight) {
  margin-block: var(--gutter);
}