@supports (container-type: inline-size) {
  .switcher {
    display: flex;
    flex-wrap: wrap;
    align-items: var(--switcher-vertical-alignment, center);
    column-gap: var(--switcher-column-gap, var(--gutter));
    row-gap: var(--switcher-row-gap, var(--gutter));
  }
  
  .switcher > * {
    flex-basis: calc((45rem - 100%) * 999);
    flex-grow: 1;
  }

  @container (min-width: 45rem) {
    .switcher--overlap {
      --switcher-column-gap: 0;
      --switcher-row-gap: 0;
    }
    .switcher--overlap > .media-container {
      margin-left: calc(var(--switcher-overlap, 18%) * -1);
      z-index: -1;
    }
  }
}