::selection {
  color: var(--selection-color);
  background-color: var(--selection-background);
}

:focus-visible {
  outline: var(--focus-ring-width) var(--focus-ring-style) var(--focus-ring-color);
  outline-offset: calc(var(--focus-ring-width) * 2);
}

:where(:first-child) {
  margin-top: 0;
}
:where(:last-child) {
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: var(--font-base);
  font-size: var(--text-base);
  color: var(--global-color);
  background-color: var(--global-background);
}

h1, h2, h3, h4 {
  text-transform: capitalize;
}
h1 {
  font-size: var(--heading-size-large);
}
h2 {
  font-size: var(--heading-size-medium);
  margin-block-end: 1lh;
}
h3 {
  font-size: var(--heading-size-small);
}
h4 {
  font-size: var(--heading-size-extra-small);
}

p, q, dd {
  max-width: var(--measure-compact);
  color: var(--color-dark-glare);
}

em {
  font-style: normal;
  color: var(--color-primary);
}

a {
  text-underline-offset: var(--link-underline-offset);
  text-decoration-thickness: var(--link-underline-thickness);
  color: currentColor;
}
a:has(svg:only-child) {
  line-height: 1;
}
a:hover:has(svg:only-child) {
  color: var(--color-primary);
}

/* Look at later */
li {
  line-height: 1;
}

svg {
  width: var(--svg-size-default);
  height: var(--svg-size-default);
  color: var(--svg-color, currentColor);
  transition: color var(--transition-settings-default);
}

.hidden {
  display: none;
}