.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--color-dark-tint);
  padding: var(--card-padding, var(--space-small));
  border-bottom: var(--card-border-width, var(--global-border-width)) var(--card-border-style, var(--global-border-style)) var(--card-border-color, var(--global-border-color));
}

.card q {
  display: inline-block;
}

/* :has() support block */
@supports (div:has(p)) {
  .card > *:has(+ :last-child) {
    flex: 1;
  }
}

@supports not (div:has(p)) {
  .card p,
  .card q {
    flex: 1;
  }
}