.custom-list {
  --_counter-text-size: var(--heading-size-small);
  --_counter-text-gap: 1.5;
  counter-reset: custom-count;
}

.custom-list > li {
  counter-increment: custom-count;
}

.custom-list > * {
  position: relative;
  margin-left: calc(var(--_counter-text-size) * var(--_counter-text-gap));
}

.custom-list > *::before { 
  content: counter(custom-count) ". ";
  position: absolute;
  left: calc(var(--_counter-text-size) * var(--_counter-text-gap) * -1);
  font-size: var(--_counter-text-size);
  font-weight: bold;
  line-height: 1.1;
  color: var(--color-primary); 
}

.custom-list summary {
  --cluster-column-gap: var(--space-small);
  --cluster-row-gap: var(--space-small);
}

.custom-list summary::-webkit-details-marker {
  display: none;
}