.spotlight {
  --switcher-overlap: 50%;
  --media-container-opacity: 0.05;
}

@media (min-width: 45rem) {
  .spotlight > :first-child {
    order: 1;
  }

  .spotlight > :last-child {
    order: 0;
  }

  .spotlight hgroup {
    border-left: var(--global-border-width) var(--global-border-style) var(--global-border-color);
    padding-left: var(--space-medium);
  }

  .spotlight img {
    scale: 1.25;
  }
}